.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participantsRow {
  display: flex;
  gap: 48px;
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 700px) {
  .participantsRow {
    flex-direction: column;
    gap: 24px;
  }
}
.title {
  text-align: center;
}
.card {
  margin-bottom: 16px;
}
.fullWidth {
  width: 100%;
}
.img {
  border-radius: 8px;
}
.textCenter {
  text-align: center;
}
.winner {
  margin-top: 32px;
  width: 100%;
}
.bracket {
  width: 100%;
  margin-top: 32px;
}
