.container {
  max-width: 1100px;
  min-width: 600px;
  margin: 0 auto;
  padding: 24px;
}
.title {
  text-align: center;
}
.card {
  margin-bottom: 16px;
}
.fullWidth {
  width: 100%;
}
.marginTop8 {
  margin-top: 8px;
}
.marginBottom8 {
  margin-bottom: 8px;
}
